*{
    margin: 0;
    font-family: 'Poppins', sans-serif;;
}
.logo{
    padding: 0;
    height: 50px;
    width: 50%;
}
.logo img{
    height: 200px;
    width: 200px;

}
nav li{
    display: inline;
    list-style: none;
}
.container-nav{
    margin-top: -30px;
    display: flex;
    margin-left: 70%;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    display: inline-block;
    padding: 20px;
    justify-content: space-evenly;
}
.header{
    font-size: 30px;
    font-weight: bolder;
    margin-top: 5vh;
    text-align: center;
}
.header-h1{
    margin-bottom: 0;
}
.header-h3{
    margin-top: 0;
}
.section-1{
    text-align: center;
}
.sec-1-icons,a{
    margin-top: 20px;
    justify-items: center;
    display: flex;
    justify-content: space-evenly;
    color: #1E3050;
}
footer{
    margin-top: 10%;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    padding:20px;
    font-weight: lighter;
}